/* Style de la navbar avec animation */
.navbar {
  background: linear-gradient(135deg, #075475, #566aab); /* Dégradé bleu-vert */
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
   transition: all 0.3s ease;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navbar-logo {
  font-size: 28px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  animation: logoAnimation 1s ease-in-out infinite alternate;
}

@keyframes logoAnimation {
  0% {
    transform: scale(1);
    color: #ffffff;
  }
  50% {
    transform: scale(1.1);
    color: #f9de70;
  }
  100% {
    transform: scale(1);
    color: #ffffff;
  }
}

.navbar-links {
  display: flex;
  gap: 30px;
}

.navbar-item {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  position: relative; /* Permet de mieux contrôler la position des éléments */
}

.navbar-item:hover {
  color: #ffcc00;
  transform: translateY(-3px); /* Animation au survol */
  transition: transform 0.3s ease; /* Rendre l'animation plus fluide */
}

/* Style pour le badge de notification */
.notification-link {
  position: relative;
  display: inline-block; /* Permet de positionner le badge à côté du texte sans chevauchement */
  padding-right: 25px; /* Ajout d'un espace à droite du texte */
}

.notification-badge {
  background-color: rgb(222, 0, 0);
  color: white;
  border-radius: 50%;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  position: absolute;
  top: -4px;  /* Ajusté pour centrer verticalement */
  right: -15px; /* Ajusté pour éloigner le badge du texte */
  font-weight: bold;  /* Pour rendre le chiffre plus visible */
  min-width: 15;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ajout d'une légère transition pour la visibilité du badge */
.notification-badge {
  transition: opacity 0.3s ease-in-out;
}

.notification-badge:empty {
  display: none;
}
