<p>login works!</p>
<div class="login-container">
    <h2>Connexion</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div>
        <label>Email</label>
        <input type="email" formControlName="email" placeholder="Entrez votre email" />
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          Email invalide
        </div>
      </div>
  
      <div>
        <label>Mot de passe</label>
        <input type="password" formControlName="password" placeholder="Entrez votre mot de passe" />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Mot de passe requis (min 6 caractères)
        </div>
      </div>
  
      <button type="submit" [disabled]="loading">Se connecter</button>
    </form>
  </div>
  