<div class="login-container">
  <ul class="background">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
     
    
  </ul>

  <div class="login-card">
    <h2 class="login-title">Bienvenue 👋</h2>
    <p class="login-subtitle">Connectez-vous pour continuer</p>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      
      <!-- Champ Email -->
      <div class="input-group">
        <i class="fas fa-envelope"></i>
        <input type="email" formControlName="email" placeholder="Email" />
      </div>
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
        Email invalide
      </div>

      <!-- Champ Mot de Passe -->
      <div class="input-group">
        <i class="fas fa-lock"></i>
        <input type="password" formControlName="password" placeholder="Mot de passe" />
      </div>
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
        Mot de passe requis (min 6 caractères)
      </div>
<!-- Affichage du message d'erreur si l'authentification échoue -->
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

      <!-- Bouton -->
      <button class="login-button" type="submit">Se connecter</button>
      
    </form>
  </div>
</div>
